@media (max-width: 991px) {
    .nav-dropdown-links {
        margin: 0.5rem 0rem;
    }

    .px4 {
        padding-left: 0.5rem;
    }
}

@media (min-width: 992px) {
    .px4 {
        padding: 0rem 1.5rem;
    }
}