@media (max-width: 1400px) {
    .action-btn {
        width: 100%;
    }

    .action-btn-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1401px) {
    .action-btn {
        width: 50%;
    }

    .action-btn-flex {
        flex-direction: row;
        justify-content: center;

    }
}